<nav>
  <div class="links">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active">EzDating</a>
    </div>

    <ul class="links-list">
      @if(accountService.currentUser()) {
      <li>
        <a routerLink="/members" routerLinkActive="active">Mathes</a>
      </li>
      <li><a routerLink="/lists" routerLinkActive="active">Lists</a></li>
      <li><a routerLink="/messages" routerLinkActive="active">Messages</a></li>
      }
    </ul>
  </div>

  @if(!accountService.currentUser()) {
  <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">
    <input
      name="username"
      [(ngModel)]="model.username"
      type="text"
      placeholder="Username"
    />
    <input
      name="password"
      [(ngModel)]="model.password"
      type="password"
      placeholder="Password"
    />
    <button type="submit">Login</button>
  </form>
  } @if(accountService.currentUser()) {
  <div class="user-info">
    <p>{{ accountService.currentUser()?.username }}</p>
    <p class="edit-profile">Edit profile</p>
    <button type="submit" (click)="logout()">Logout</button>
  </div>
  }
</nav>
